{namespace badgr.user}

/**
 * @param user
 * @param achievements
 **/
{template .achievements}
<html>
<head>
    <meta name="decorator" content="stash.users.profile">
    <meta name="activeTab" content="badgr-profile-achievements-tab">
    <meta name="userSlug" content="{$user.slug}">
    <title>{$user.displayName} / Achievements</title>
</head>
<body>
    {call badgr.achievements.achievementTable}
        {param achievementPage: $achievements /}
    {/call}
</body>
</html>
{/template}
